@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background: rgba(13,26,45,255);
}

.card{
     background: rgba(21,39,63,255);
     color: #fff;
     border-radius: 20px;
}

.card-title{
     cursor: pointer;
}

.card-footer{
     text-align: center;
}

.card-img-top{
    border-radius: 20px;
    margin: 10px;
    width: 95%;
    cursor: pointer;
}

.card-img-bottom{
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
    cursor: pointer;
}

.value{
     color: rgba(4,254,250,255);
}

.author{
     font-size: .9rem;
     align-items: center;
}